<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1472.ve4d5eca_143c4">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2218.v56d0cda_37c72"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2218.v56d0cda_37c72">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>В jenkins создан пайплайн/задача/таск, работающий с репозиторием gitlab/github&#xd;
При изменении в репозитории автоматически запускается задача обновления docker-контейнера с содержимым репозитория (Либо сборка образа с новым приложением и обновление контейнера)</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4002.v80ca_d0f47d7f">
    <script>pipeline {
    agent any

    environment {
        DOCKER_IMAGE = &apos;jenkins_avs-jenkins:latest&apos;
        DOCKER_CONTAINER_NAME = &apos;jenkins&apos;
        DOCKER_PORT = &apos;80:80&apos;
    }

    stages {
        stage(&apos;Checkout&apos;) {
            steps {
                git branch: &apos;main&apos;, url: &apos;https://github.com/grogu27/jenkins_avs&apos;
            }
        }

        stage(&apos;Deploy&apos;) {
            steps {
                script {
                    // Остановка и удаление только контейнера docker-dind, если он существует
                    sh &apos;&apos;&apos;
                        # Проверка, если контейнер с именем docker-dind существует
                        if docker ps -a --filter &quot;name=docker-dind&quot; -q; then
                            echo &quot;Removing existing docker-dind container...&quot;
                            docker rm -f docker-dind || true
                        fi
                    &apos;&apos;&apos;

                    // Запуск контейнеров через docker-compose
                    sh &apos;docker compose -f docker-compose.yml up -d docker-dind&apos;

                    // Проверка состояния контейнеров
                    sh &apos;docker ps -a&apos;
                }
            }
        }
    }

    post {
        always {
            echo &apos;Pipeline finished&apos;
        }
        success {
            echo &apos;:)&apos;
        }
        failure {
            echo &apos;:(&apos;
        }
    }
}
</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>